<div class="publication flex flex-col sm:flex-row items-center space-x-4">
  {{ if .Params.image }}
      <div class="flex-shrink-0">
        <img src="{{ .RelPermalink }}{{ .Params.image }}" alt="{{ .Title }}" class="max-w-80">
      </div>
  {{ end }}
  
  <div>
    <h3 class="text-xl font-bold">{{ .Title }}</h3>
    <p class="text-sm">{{ .Params.authors | markdownify }}</p>
    <p>{{ .Params.venue }}</p>
    {{ if .Params.description }}
      <p class="text-sm">{{ .Params.description }}</p>
    {{ end }}
    <div class="mt-2 flex" id="resource-links">
      {{ if .Params.pdf }}
        <a href="{{ .Params.pdf }}" target="_blank">PDF</a>{{ if or .Params.code .Params.website }} |{{ end }}
      {{ end }}
      {{ if .Params.code }}
        <a href="{{ .Params.code }}" target="_blank">Code</a>{{ if .Params.website }} |{{ end }}
      {{ end }}
      {{ if .Params.website }}
        <a href="{{ .Params.website }}" target="_blank">Website</a>
      {{ end }}
    </div>
  </div>
</div>